<div class="page-header">
  <%= link_to events_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back To Your Page
  <% end %>
  <h1>Create An Event</h1>
</div>

<%= render 'form' %>
